/* ===================================================================================== */
/* ===                              CHARTS OPTIONS STYLE                             === */
/* ===================================================================================== */

/* ==================================== GLOBAL =================================== */
.charts-section h2 {
  font-size: 2rem;
  font-weight: 700;
}

.charts-section .charts-grid-container {
  display: grid !important;
  grid-template-columns: repeat(3, 1fr);
  margin: 5rem 0 1rem 0;
  width: 100%;
}

.charts-section .chart-grid,
.charts-section .chart-grid * {
  margin: 0 !important;
  padding: 0 !important;
}

.charts-section .card {
  max-width: 100% !important;
}

.charts-section .interactive-card {
  border-radius: 20px;
  width: 100% !important;
  height: 200px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  color: white;
  background-color: var(--card-color);
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  transition: transform 0.4s ease, box-shadow 0.4s ease, filter 0.4s ease;
}

.charts-section .interactive-card:hover {
  transform: translateY(-10px) scale(1.03);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
  filter: brightness(1.08);
}

.charts-section .interactive-card::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background: rgba(255,255,255,0.4);
  opacity: 0;
  transform: translateY(6px);
  transition: all 0.3s ease-in-out;
}

.charts-section .interactive-card:hover::after {
  opacity: 1;
  transform: translateY(0);
}

.charts-section .interactive-card .card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 18px;
}

.charts-section .interactive-card .card-body i {
  transition: transform 0.3s ease, color 0.3s ease;
}

.charts-section .interactive-card .card-body:hover i {
  transform: scale(1.15) rotate(10deg) translateY(-2px);
}

.charts-section .interactive-card .card-body span {
  font-weight: 600;
  text-align: center;
}

.charts-section .card-link { 
  text-decoration: none;
}

.charts-section .card-link:hover { 
  text-decoration: none;
  color: inherit;
}

/* ---------------- Tampilan Sidebar Ditutup ----------------- */
body.sidebar-collapsed .charts-section .charts-grid-container {
  gap: 60px;
  padding: 0 7rem;
}

body.sidebar-collapsed .charts-section .interactive-card .card-body i {
  font-size: 75px;
}

body.sidebar-collapsed .charts-section .interactive-card .card-body span {
  font-size: 1.2rem;
  letter-spacing: 0.3px;
}

/* ----------------- Tampilan Sidebar Dibuka ----------------- */
body.sidebar-expanded .charts-section .charts-grid-container {
  gap: 65px;
  padding: 0 4.5rem;
}

body.sidebar-expanded .charts-section .interactive-card .card-body i {
  font-size: 65px;
}

body.sidebar-expanded .charts-section .interactive-card .card-body span {
  font-size: 1.1rem;
  letter-spacing: 0.3px;
}


/* =========================== DESKTOP (1281px – 1368px) ========================= */
@media (min-width: 1281px) and (max-width: 1368px) {
  /* ------------------- Pengaturan Global --------------------- */
  .charts-section h2 {
    font-size: 1.8rem;
  }

  .charts-section p {
    font-size: 0.95rem;
  }

  .charts-section .charts-grid-container {
    margin: 5rem 0 1rem 0;
  }

  .charts-section .interactive-card {
    height: 200px;
  }

  .charts-section .interactive-card .card-body {
    gap: 18px;
  }

  /* ---------------- Tampilan Sidebar Ditutup ----------------- */
  body.sidebar-collapsed .charts-section p {
    line-height: 2;
    margin-top: 1.8rem;
  }
  
  body.sidebar-collapsed .charts-section .charts-grid-container {
    gap: 60px;
    padding: 0 7rem;
  }

  body.sidebar-collapsed .charts-section .interactive-card .card-body i {
    font-size: 75px;
  }

  body.sidebar-collapsed .charts-section .interactive-card .card-body span {
    font-size: 1.2rem;
    letter-spacing: 0.3px;
  }

  /* ----------------- Tampilan Sidebar Dibuka ----------------- */
  body.sidebar-expanded .charts-section h2 {
    line-height: 1.5;
  }

  body.sidebar-expanded .charts-section p {
    line-height: 1.7;
    margin-top: 1.8rem;
  }

  body.sidebar-expanded .charts-section .charts-grid-container {
    gap: 65px;
    padding: 0 4.5rem;
  }

  body.sidebar-expanded .charts-section .interactive-card .card-body i {
    font-size: 65px;
  }

  body.sidebar-expanded .charts-section .interactive-card .card-body span {
    font-size: 1.1rem;
    letter-spacing: 0.3px;
  }
}


/* =========================== DESKTOP (1200px – 1280px) ========================= */
@media (min-width: 1200px) and (max-width: 1280px) {
  /* ------------------- Pengaturan Global --------------------- */
  .charts-section h2 {
    font-size: 1.8rem;
  }

  .charts-section p {
    font-size: 0.95rem;
  }

  .charts-section .charts-grid-container {
    margin: 5rem 0 1rem 0;
  }

  .charts-section .interactive-card {
    height: 200px;
  }

  .charts-section .interactive-card .card-body {
    gap: 18px;
  }

  /* ---------------- Tampilan Sidebar Ditutup ----------------- */
  body.sidebar-collapsed .charts-section p {
    line-height: 2;
    margin-top: 1.8rem;
  }
  
  body.sidebar-collapsed .charts-section .charts-grid-container {
    gap: 60px;
    padding: 0 7rem;
  }

  body.sidebar-collapsed .charts-section .interactive-card .card-body i {
    font-size: 75px;
  }

  body.sidebar-collapsed .charts-section .interactive-card .card-body span {
    font-size: 1.2rem;
    letter-spacing: 0.3px;
  }

  /* ----------------- Tampilan Sidebar Dibuka ----------------- */
  body.sidebar-expanded .charts-section h2 {
    line-height: 1.5;
  }

  body.sidebar-expanded .charts-section p {
    line-height: 1.7;
    margin-top: 1.8rem;
  }

  body.sidebar-expanded .charts-section .charts-grid-container {
    gap: 65px;
    padding: 0 4.5rem;
  }

  body.sidebar-expanded .charts-section .interactive-card .card-body i {
    font-size: 65px;
  }

  body.sidebar-expanded .charts-section .interactive-card .card-body span {
    font-size: 1.1rem;
    letter-spacing: 0.3px;
  }
}


/* ======================= SMALL DESKTOP (992px – 1179px) ======================== */
@media (min-width: 992px) and (max-width: 1179px) {
  /* ------------------- Pengaturan Global --------------------- */
  .charts-section h2 {
    font-size: 1.6rem;
  }

  .charts-section p {
    font-size: 0.9rem;
  }

  .charts-section .charts-grid-container {
    margin: 4rem 0 1rem 0;
  }

  .charts-section .interactive-card .card-body {
    gap: 20px;
  }

  /* ---------------- Tampilan Sidebar Ditutup ----------------- */
  body.sidebar-collapsed .charts-section p {
    line-height: 2;
    margin-top: 1.8rem;
  }

  body.sidebar-collapsed .charts-section .charts-grid-container {
    gap: 60px;
    padding: 0 4rem;
  }

  body.sidebar-collapsed .charts-section .interactive-card {
    height: 185px;
  }

  body.sidebar-collapsed .charts-section .interactive-card .card-body i {
    font-size: 70px;
  }

  body.sidebar-collapsed .charts-section .interactive-card .card-body span {
    font-size: 1.1rem;
    letter-spacing: 0.3px;
  }

  /* ----------------- Tampilan Sidebar Dibuka ----------------- */
  body.sidebar-expanded .charts-section h2 {
    line-height: 1.5;
  }

  body.sidebar-expanded .charts-section p {
    line-height: 1.7;
    margin-top: 1.8rem;
  }

  body.sidebar-expanded .charts-section .charts-grid-container {
    gap: 35px;
    padding: 0 1.5rem;
  }

  body.sidebar-expanded .charts-section .interactive-card {
    height: 160px;
  }

  body.sidebar-expanded .charts-section .interactive-card .card-body i {
    font-size: 55px;
  }

  body.sidebar-expanded .charts-section .interactive-card .card-body span {
    font-size: 1rem;
    letter-spacing: 0.3px;
  }
}


/* ==================== TABLET LANDSCAPE-1 (1180px – 1199px) ===================== */
@media (min-width: 1180px) and (max-width: 1199px) {
  /* ------------------- Pengaturan Global --------------------- */
  .charts-section h2 {
    font-size: 1.6rem;
  }

  .charts-section p {
    font-size: 0.9rem;
  }

  .charts-section .charts-grid-container {
    margin: 4rem 0 1rem 0;
  }

  .charts-section .interactive-card .card-body {
    gap: 20px;
  }

  /* ---------------- Tampilan Sidebar Ditutup ----------------- */
  body.sidebar-collapsed .charts-section p {
    line-height: 2;
    margin-top: 1.8rem;
  }

  body.sidebar-collapsed .charts-section .charts-grid-container {
    gap: 60px;
    padding: 0 4rem;
  }

  body.sidebar-collapsed .charts-section .interactive-card {
    height: 185px;
  }

  body.sidebar-collapsed .charts-section .interactive-card .card-body i {
    font-size: 70px;
  }

  body.sidebar-collapsed .charts-section .interactive-card .card-body span {
    font-size: 1.1rem;
    letter-spacing: 0.3px;
  }

  /* ----------------- Tampilan Sidebar Dibuka ----------------- */
  body.sidebar-expanded .charts-section h2 {
    line-height: 1.5;
  }

  body.sidebar-expanded .charts-section p {
    line-height: 1.7;
    margin-top: 1.8rem;
  }

  body.sidebar-expanded .charts-section .charts-grid-container {
    gap: 35px;
    padding: 0 1.5rem;
  }

  body.sidebar-expanded .charts-section .interactive-card {
    height: 160px;
  }

  body.sidebar-expanded .charts-section .interactive-card .card-body i {
    font-size: 55px;
  }

  body.sidebar-expanded .charts-section .interactive-card .card-body span {
    font-size: 1rem;
    letter-spacing: 0.3px;
  }
}


/* ===================== TABLET LANDSCAPE-2 (933px – 991px) ====================== */
@media (min-width: 933px) and (max-width: 991px) {
  /* ------------------- Pengaturan Global --------------------- */
  .charts-section h2 {
    font-size: 1.42rem;
  }

  .charts-section p {
    font-size: 0.9rem;
  }

  .charts-section .charts-grid-container {
    margin: 4rem 0 1rem 0;
  }

  .charts-section .interactive-card .card-body {
    gap: 12px;
  }

  /* ---------------- Tampilan Sidebar Ditutup ----------------- */
  body.sidebar-collapsed .charts-section p {
    line-height: 2;
    margin-top: 1.8rem;
  }

  body.sidebar-collapsed .charts-section .charts-grid-container {
    gap: 30px;
    padding: 0 1rem;
  }

  body.sidebar-collapsed .charts-section .interactive-card {
    height: 160px;
  }

  body.sidebar-collapsed .charts-section .interactive-card .card-body i {
    font-size: 50px;
  }

  body.sidebar-collapsed .charts-section .interactive-card .card-body span {
    font-size: 1rem;
    letter-spacing: 0.3px;
  }

  /* ----------------- Tampilan Sidebar Dibuka ----------------- */
  body.sidebar-expanded .charts-section h2 {
    line-height: 1.5;
  }

  body.sidebar-expanded .charts-section p {
    line-height: 1.7;
    margin-top: 1.8rem;
  }

  body.sidebar-expanded .charts-section .charts-grid-container {
    gap: 30px;
    padding: 0;
  }

  body.sidebar-expanded .charts-section .interactive-card {
    height: 140px;
  }

  body.sidebar-expanded .charts-section .interactive-card .card-body i {
    font-size: 40px;
  }

  body.sidebar-expanded .charts-section .interactive-card .card-body span {
    font-size: 0.9rem;
    letter-spacing: 0.3px;
  }
}


/* ===================== TABLET LANDSCAPE-3 (853px – 881px) ====================== */
@media (min-width: 853px) and (max-width: 881px) {
  /* ------------------- Pengaturan Global --------------------- */
  .charts-section h2 {
    font-size: 1.42rem;
  }

  .charts-section p {
    font-size: 0.9rem;
  }

  .charts-section .charts-grid-container {
    margin: 4rem 0 1rem 0;
  }

  .charts-section .interactive-card .card-body {
    gap: 12px;
  }

  /* ---------------- Tampilan Sidebar Ditutup ----------------- */
  body.sidebar-collapsed .charts-section p {
    line-height: 2;
    margin-top: 1.8rem;
  }

  body.sidebar-collapsed .charts-section .charts-grid-container {
    gap: 30px;
    padding: 0 1rem;
  }

  body.sidebar-collapsed .charts-section .interactive-card {
    height: 160px;
  }

  body.sidebar-collapsed .charts-section .interactive-card .card-body i {
    font-size: 50px;
  }

  body.sidebar-collapsed .charts-section .interactive-card .card-body span {
    font-size: 1rem;
    letter-spacing: 0.3px;
  }

  /* ----------------- Tampilan Sidebar Dibuka ----------------- */
  body.sidebar-expanded .charts-section h2 {
    line-height: 1.5;
  }

  body.sidebar-expanded .charts-section figure h2 {
    padding: 0 3rem;
  }

  body.sidebar-expanded .charts-section p {
    line-height: 1.7;
    margin-top: 1.8rem;
  }

  body.sidebar-expanded .charts-section .charts-grid-container {
    gap: 30px;
    padding: 0;
  }

  body.sidebar-expanded .charts-section .interactive-card {
    height: 140px;
  }

  body.sidebar-expanded .charts-section .interactive-card .card-body i {
    font-size: 40px;
  }

  body.sidebar-expanded .charts-section .interactive-card .card-body span {
    font-size: 0.9rem;
    letter-spacing: 0.3px;
  }
}


/* ====================== TABLET POTRAIT-1 (820px – 839px) ======================= */
@media (min-width: 820px) and (max-width: 839px) {
  /* ------------------- Pengaturan Global --------------------- */
  .charts-section h2 {
    font-size: 1.6rem;
  }

  .charts-section p {
    font-size: 0.9rem;
  }

  .charts-section .charts-grid-container {
    margin: 3.5rem 0 1rem 0;
  }

  .charts-section .interactive-card .card-body {
    gap: 16px;
  }

  /* ---------------- Tampilan Sidebar Ditutup ----------------- */
  body.sidebar-collapsed .charts-section p {
    line-height: 2;
    margin-top: 1.8rem;
  }

  body.sidebar-collapsed .charts-section .charts-grid-container {
    gap: 50px;
    padding: 0 4rem;
  }

  body.sidebar-collapsed .charts-section .interactive-card {
    height: 160px;
  }

  body.sidebar-collapsed .charts-section .interactive-card .card-body i {
    font-size: 50px;
  }

  body.sidebar-collapsed .charts-section .interactive-card .card-body span {
    font-size: 0.9rem;
    letter-spacing: 0.3px;
  }

  /* ----------------- Tampilan Sidebar Dibuka ----------------- */
  body.sidebar-expanded .charts-section h2 {
    line-height: 1.5;
  }

  body.sidebar-expanded .charts-section figure h2 {
    padding: 0 2rem;
  }

  body.sidebar-expanded .charts-section p {
    line-height: 1.7;
    margin-top: 1.8rem;
  }

  body.sidebar-expanded .charts-section .charts-grid-container {
    gap: 30px;
    padding: 0;
  }

  body.sidebar-expanded .charts-section .interactive-card {
    height: 130px;
  }

  body.sidebar-expanded .charts-section .interactive-card .card-body i {
    font-size: 40px;
  }

  body.sidebar-expanded .charts-section .interactive-card .card-body span {
    font-size: 0.9rem;
    letter-spacing: 0.3px;
  }
}


/* ====================== TABLET POTRAIT-2 (768px – 819px) ======================= */
@media (min-width: 768px) and (max-width: 819px) {
  /* ------------------- Pengaturan Global --------------------- */
  .charts-section h2 {
    font-size: 1.6rem;
  }

  .charts-section p {
    font-size: 0.9rem;
  }

  .charts-section .charts-grid-container {
    gap: 40px !important;
    padding: 0 3rem !important;
    margin: 3.5rem 0 1rem 0 !important;
  }

  .charts-section .interactive-card .card-body {
    gap: 16px !important;
  }

  .charts-section .interactive-card {
    height: 140px !important;
  }

  .charts-section .interactive-card .card-body i {
    font-size: 40px !important;
  }

  .charts-section .interactive-card .card-body span {
    font-size: 0.9rem !important;
    letter-spacing: 0.3px !important;
  }
}


/* ===================== HP BESAR LANDSCAPE (720px – 739px) ====================== */
@media (min-width: 720px) and (max-width: 739px) {
  /* ------------------- Pengaturan Global --------------------- */
  .charts-section h2,
  .charts-section figure h2 {
    font-size: 1.5rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;
  }

  .charts-section p,
  .charts-section figure p {
    font-size: 0.9rem;
    line-height: 1.7;
  }

  .charts-section .charts-grid-container {
    gap: 25px !important;
    padding: 0 1rem !important;
    margin: 3.5rem 0 1rem 0 !important;
  }

  .charts-section .interactive-card .card-body {
    gap: 16px !important;
  }

  .charts-section .interactive-card {
    height: 130px !important;
  }

  .charts-section .interactive-card .card-body i {
    font-size: 40px !important;
  }

  .charts-section .interactive-card .card-body span {
    font-size: 0.9rem !important;
    letter-spacing: 0.3px !important;
  }
}


/* ===================== HP BESAR POTRAIT (521px – 666px) ======================== */
@media (min-width: 521px) and (max-width: 666px) {
  /* ------------------- Pengaturan Global --------------------- */
  .charts-section h2,
  .charts-section figure h2 {
    font-size: 1.5rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;
  }

  .charts-section figure h2 {
    padding: 0 3rem;
  }

  .charts-section p,
  .charts-section figure p {
    font-size: 0.9rem;
    line-height: 1.7;
  }

  .charts-section .charts-grid-container {
    gap: 25px !important;
    padding: 0 1rem !important;
    margin: 3.5rem 0 1rem 0 !important;
  }

  .charts-section .interactive-card .card-body {
    gap: 16px !important;
  }

  .charts-section .interactive-card {
    height: 130px !important;
  }

  .charts-section .interactive-card .card-body i {
    font-size: 40px !important;
  }

  .charts-section .interactive-card .card-body span {
    font-size: 0.9rem !important;
    letter-spacing: 0.3px !important;
  }
}


/* ==================== HP KECIL LANDSCAPE 1 (917px – 932px) ===================== */
@media (min-width: 917px) and (max-width: 932px) {
  /* ------------------- Pengaturan Global --------------------- */
  .charts-section h2 {
    font-size: 1.42rem;
  }

  .charts-section p {
    font-size: 0.9rem;
  }

  .charts-section .charts-grid-container {
    margin: 4rem 0 1rem 0;
  }

  .charts-section .interactive-card .card-body {
    gap: 12px;
  }

  /* ---------------- Tampilan Sidebar Ditutup ----------------- */
  body.sidebar-collapsed .charts-section p {
    line-height: 2;
    margin-top: 1.8rem;
  }

  body.sidebar-collapsed .charts-section .charts-grid-container {
    gap: 30px;
    padding: 0 1rem;
  }

  body.sidebar-collapsed .charts-section .interactive-card {
    height: 160px;
  }

  body.sidebar-collapsed .charts-section .interactive-card .card-body i {
    font-size: 50px;
  }

  body.sidebar-collapsed .charts-section .interactive-card .card-body span {
    font-size: 1rem;
    letter-spacing: 0.3px;
  }

  /* ----------------- Tampilan Sidebar Dibuka ----------------- */
  body.sidebar-expanded .charts-section h2 {
    line-height: 1.5;
  }

  body.sidebar-expanded .charts-section p {
    line-height: 1.7;
    margin-top: 1.8rem;
  }

  body.sidebar-expanded .charts-section .charts-grid-container {
    gap: 30px;
    padding: 0;
  }

  body.sidebar-expanded .charts-section .interactive-card {
    height: 140px;
  }

  body.sidebar-expanded .charts-section .interactive-card .card-body i {
    font-size: 40px;
  }

  body.sidebar-expanded .charts-section .interactive-card .card-body span {
    font-size: 0.9rem;
    letter-spacing: 0.3px;
  }
}


/* ==================== HP KECIL LANDSCAPE 2 (912px – 916px) ===================== */
@media (min-width: 912px) and (max-width: 916px) {
  /* ------------------- Pengaturan Global --------------------- */
  .charts-section h2 {
    font-size: 1.42rem;
  }

  .charts-section p {
    font-size: 0.9rem;
  }

  .charts-section .charts-grid-container {
    margin: 4rem 0 1rem 0;
  }

  .charts-section .interactive-card .card-body {
    gap: 12px;
  }

  /* ---------------- Tampilan Sidebar Ditutup ----------------- */
  body.sidebar-collapsed .charts-section p {
    line-height: 2;
    margin-top: 1.8rem;
  }

  body.sidebar-collapsed .charts-section .charts-grid-container {
    gap: 30px;
    padding: 0 1rem;
  }

  body.sidebar-collapsed .charts-section .interactive-card {
    height: 160px;
  }

  body.sidebar-collapsed .charts-section .interactive-card .card-body i {
    font-size: 50px;
  }

  body.sidebar-collapsed .charts-section .interactive-card .card-body span {
    font-size: 1rem;
    letter-spacing: 0.3px;
  }

  /* ----------------- Tampilan Sidebar Dibuka ----------------- */
  body.sidebar-expanded .charts-section h2 {
    line-height: 1.5;
  }

  body.sidebar-expanded .charts-section p {
    line-height: 1.7;
    margin-top: 1.8rem;
  }

  body.sidebar-expanded .charts-section .charts-grid-container {
    gap: 30px;
    padding: 0;
  }

  body.sidebar-expanded .charts-section .interactive-card {
    height: 140px;
  }

  body.sidebar-expanded .charts-section .interactive-card .card-body i {
    font-size: 40px;
  }

  body.sidebar-expanded .charts-section .interactive-card .card-body span {
    font-size: 0.9rem;
    letter-spacing: 0.3px;
  }
}


/* ==================== HP KECIL LANDSCAPE 2 (896px – 911px) ===================== */
@media (min-width: 896px) and (max-width: 911px) {
  /* ------------------- Pengaturan Global --------------------- */
  .charts-section h2 {
    font-size: 1.42rem;
  }

  .charts-section p {
    font-size: 0.9rem;
  }

  .charts-section .charts-grid-container {
    margin: 4rem 0 1rem 0;
  }

  .charts-section .interactive-card .card-body {
    gap: 12px;
  }

  /* ---------------- Tampilan Sidebar Ditutup ----------------- */
  body.sidebar-collapsed .charts-section p {
    line-height: 2;
    margin-top: 1.8rem;
  }

  body.sidebar-collapsed .charts-section .charts-grid-container {
    gap: 30px;
    padding: 0 1rem;
  }

  body.sidebar-collapsed .charts-section .interactive-card {
    height: 160px;
  }

  body.sidebar-collapsed .charts-section .interactive-card .card-body i {
    font-size: 50px;
  }

  body.sidebar-collapsed .charts-section .interactive-card .card-body span {
    font-size: 1rem;
    letter-spacing: 0.3px;
  }

  /* ----------------- Tampilan Sidebar Dibuka ----------------- */
  body.sidebar-expanded .charts-section h2 {
    line-height: 1.5;
  }

  body.sidebar-expanded .charts-section figure h2 {
    padding: 0 5rem;
  }

  body.sidebar-expanded .charts-section p {
    line-height: 1.7;
    margin-top: 1.8rem;
  }

  body.sidebar-expanded .charts-section .charts-grid-container {
    gap: 30px;
    padding: 0;
  }

  body.sidebar-expanded .charts-section .interactive-card {
    height: 140px;
  }

  body.sidebar-expanded .charts-section .interactive-card .card-body i {
    font-size: 40px;
  }

  body.sidebar-expanded .charts-section .interactive-card .card-body span {
    font-size: 0.9rem;
    letter-spacing: 0.3px;
  }
}


/* ==================== HP KECIL LANDSCAPE 3 (882px – 895px) ===================== */
@media (min-width: 882px) and (max-width: 895px) {
  /* ------------------- Pengaturan Global --------------------- */
  .charts-section h2 {
    font-size: 1.42rem;
  }

  .charts-section figure h2 {
    padding: 0 5rem;
  }

  .charts-section p {
    font-size: 0.9rem;
  }

  .charts-section .charts-grid-container {
    margin: 4rem 0 1rem 0;
  }

  .charts-section .interactive-card .card-body {
    gap: 12px;
  }

  /* ---------------- Tampilan Sidebar Ditutup ----------------- */
  body.sidebar-collapsed .charts-section p {
    line-height: 2;
    margin-top: 1.8rem;
  }

  body.sidebar-collapsed .charts-section .charts-grid-container {
    gap: 30px;
    padding: 0 1rem;
  }

  body.sidebar-collapsed .charts-section .interactive-card {
    height: 160px;
  }

  body.sidebar-collapsed .charts-section .interactive-card .card-body i {
    font-size: 50px;
  }

  body.sidebar-collapsed .charts-section .interactive-card .card-body span {
    font-size: 1rem;
    letter-spacing: 0.3px;
  }

  /* ----------------- Tampilan Sidebar Dibuka ----------------- */
  body.sidebar-expanded .charts-section h2 {
    line-height: 1.5;
  }

  body.sidebar-expanded .charts-section p {
    line-height: 1.7;
    margin-top: 1.8rem;
  }

  body.sidebar-expanded .charts-section .charts-grid-container {
    gap: 30px;
    padding: 0;
  }

  body.sidebar-expanded .charts-section .interactive-card {
    height: 140px;
  }

  body.sidebar-expanded .charts-section .interactive-card .card-body i {
    font-size: 40px;
  }

  body.sidebar-expanded .charts-section .interactive-card .card-body span {
    font-size: 0.9rem;
    letter-spacing: 0.3px;
  }
}


/* ==================== HP KECIL LANDSCAPE 4 (840px – 852px) ===================== */
@media (min-width: 840px) and (max-width: 852px) {
  /* ------------------- Pengaturan Global --------------------- */
  .charts-section h2 {
    font-size: 1.6rem;
  }

  .charts-section p {
    font-size: 0.9rem;
  }

  .charts-section .charts-grid-container {
    margin: 3.5rem 0 1rem 0;
  }

  .charts-section .interactive-card .card-body {
    gap: 16px;
  }

  /* ---------------- Tampilan Sidebar Ditutup ----------------- */
  body.sidebar-collapsed .charts-section p {
    line-height: 2;
    margin-top: 1.8rem;
  }

  body.sidebar-collapsed .charts-section .charts-grid-container {
    gap: 50px;
    padding: 0 4rem;
  }

  body.sidebar-collapsed .charts-section .interactive-card {
    height: 160px;
  }

  body.sidebar-collapsed .charts-section .interactive-card .card-body i {
    font-size: 50px;
  }

  body.sidebar-collapsed .charts-section .interactive-card .card-body span {
    font-size: 0.9rem;
    letter-spacing: 0.3px;
  }

  /* ----------------- Tampilan Sidebar Dibuka ----------------- */
  body.sidebar-expanded .charts-section h2 {
    line-height: 1.5;
  }

  body.sidebar-expanded .charts-section p {
    line-height: 1.7;
    margin-top: 1.8rem;
  }

  body.sidebar-expanded .charts-section .charts-grid-container {
    gap: 30px;
    padding: 0;
  }

  body.sidebar-expanded .charts-section .interactive-card {
    height: 130px;
  }

  body.sidebar-expanded .charts-section .interactive-card .card-body i {
    font-size: 40px;
  }

  body.sidebar-expanded .charts-section .interactive-card .card-body span {
    font-size: 0.9rem;
    letter-spacing: 0.3px;
  }
}


/* ==================== HP KECIL LANDSCAPE 5 (740px – 767px) ===================== */
@media (min-width: 740px) and (max-width: 767px) {
  /* ------------------- Pengaturan Global --------------------- */
  .charts-section h2,
  .charts-section figure h2 {
    font-size: 1.5rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;
  }

  .charts-section p,
  .charts-section figure p {
    font-size: 0.9rem;
    line-height: 1.7;
  }

  .charts-section .charts-grid-container {
    gap: 25px !important;
    padding: 0 1rem !important;
    margin: 3.5rem 0 1rem 0 !important;
  }

  .charts-section .interactive-card .card-body {
    gap: 16px !important;
  }

  .charts-section .interactive-card {
    height: 130px !important;
  }

  .charts-section .interactive-card .card-body i {
    font-size: 40px !important;
  }

  .charts-section .interactive-card .card-body span {
    font-size: 0.9rem !important;
    letter-spacing: 0.3px !important;
  }
}


/* ==================== HP KECIL LANDSCAPE 6 (667px – 719px) ===================== */
@media (min-width: 667px) and (max-width: 719px) {
  /* ------------------- Pengaturan Global --------------------- */
  .charts-section h2,
  .charts-section figure h2 {
    font-size: 1.5rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;
  }

  .charts-section p,
  .charts-section figure p {
    font-size: 0.9rem;
    line-height: 1.7;
  }

  .charts-section .charts-grid-container {
    gap: 25px !important;
    padding: 0 1rem !important;
    margin: 3.5rem 0 1rem 0 !important;
  }

  .charts-section .interactive-card .card-body {
    gap: 16px !important;
  }

  .charts-section .interactive-card {
    height: 130px !important;
  }

  .charts-section .interactive-card .card-body i {
    font-size: 40px !important;
  }

  .charts-section .interactive-card .card-body span {
    font-size: 0.9rem !important;
    letter-spacing: 0.3px !important;
  }
}


/* ========================== HP KECIL (412px - 520px) =========================== */
@media (min-width: 412px) and (max-width: 520px) {
  /* ------------------- Pengaturan Global --------------------- */
  .charts-section h2 {
    font-size: 1.5rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;
  }

  .charts-section p {
    font-size: 0.85rem;
    line-height: 1.8;
  }

  .charts-section figure p {
    padding: 0 2rem;
  }

  .charts-section .charts-grid-container {
    gap: 25px !important;
    padding: 0 !important;
    margin: 3rem 0 0 0 !important;
  }

  .charts-section .interactive-card .card-body {
    gap: 16px !important;
  }

  .charts-section .interactive-card {
    width: 100% !important;
    height: 130px !important;
    padding: 20px !important;
    border-radius: 18px !important;
  }

  .charts-section .interactive-card .card-body i {
    font-size: 30px !important;
  }

  .charts-section .interactive-card .card-body span {
    font-size: 0.8rem !important;
    letter-spacing: 0.3px !important;
  }
}


/* ========================== HP PALING KECIL (≤ 411px) ========================== */
@media (max-width: 411px) {
  /* ------------------- Pengaturan Global --------------------- */
  .charts-section h2 {
    font-size: 1.5rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;
  }

  .charts-section figure h2 {
    padding: 0 2rem;
  }

  .charts-section p {
    font-size: 0.85rem;
    line-height: 1.8;
  }

  .charts-section figure p {
    padding: 0 2rem;
  }

  .charts-section .charts-grid-container {
    gap: 25px !important;
    padding: 0 !important;
    margin: 3rem 0 0 0 !important;
  }

  .charts-section .interactive-card .card-body {
    gap: 16px !important;
  }

  .charts-section .interactive-card {
    width: 100% !important;
    height: 130px !important;
    padding: 20px !important;
    border-radius: 18px !important;
  }

  .charts-section .interactive-card .card-body i {
    font-size: 30px !important;
  }

  .charts-section .interactive-card .card-body span {
    font-size: 0.8rem !important;
    letter-spacing: 0.3px !important;
  }
}