/* ===================================================================================== */
/* Font-Name: Montserrat                                                                 */
/* ===================================================================================== */

/* Montserrat 300 */
@font-face {
    font-family: "Montserrat";
    src: url("../../font/montserrat-font/Montserrat-Thin.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

/* Montserrat 400 */
@font-face {
    font-family: "Montserrat";
    src: url("../../font/montserrat-font/Montserrat-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

/* Montserrat 500 */
@font-face {
    font-family: "Montserrat";
    src: url("../../font/montserrat-font/Montserrat-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

/* Montserrat 600 */
@font-face {
    font-family: "Montserrat";
    src: url("../../font/montserrat-font/Montserrat-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

/* Montserrat 700 */
@font-face {
    font-family: "Montserrat";
    src: url("../../font/montserrat-font/Montserrat-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

/* Montserrat 800 */
@font-face {
    font-family: "Montserrat";
    src: url("../../font/montserrat-font/Montserrat-Black.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}



/* ===================================================================================== */
/* Font-Name: Roboto                                                                     */
/* ===================================================================================== */

/* Roboto 300 */
@font-face {
    font-family: "Roboto";
    src: url("../../font/roboto-font/Roboto-Thin.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

/* Roboto 400 */
@font-face {
    font-family: "Roboto";
    src: url("../../font/roboto-font/Roboto-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

/* Roboto 500 */
@font-face {
    font-family: "Roboto";
    src: url("../../font/roboto-font/Roboto-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

/* Roboto 700 */
@font-face {
    font-family: "Roboto";
    src: url("../../font/roboto-font/Roboto-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

/* Roboto 800 */
@font-face {
    font-family: "Roboto";
    src: url("../../font/roboto-font/Roboto-Black.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}



/* ===================================================================================== */
/* Font-Name: Lato                                                                       */
/* ===================================================================================== */

/* Lato 300 */
@font-face {
    font-family: "Lato";
    src: url("../../font/lato-font/Lato-Thin.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

/* Lato 400 */
@font-face {
    font-family: "Lato";
    src: url("../../font/lato-font/Lato-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

/* Lato 500 */
@font-face {
    font-family: "Lato";
    src: url("../../font/lato-font/Lato-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

/* Lato 600 */
@font-face {
    font-family: "Lato";
    src: url("../../font/lato-font/Lato-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

/* Lato 700 */
@font-face {
    font-family: "Lato";
    src: url("../../font/lato-font/Lato-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

/* Lato 800 */
@font-face {
    font-family: "Lato";
    src: url("../../font/lato-font/Lato-Black.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}



/* ===================================================================================== */
/* Font-Name: Segoe UI                                                                   */
/* ===================================================================================== */

/* Segoe UI 400 */
@font-face {
    font-family: "Segoe UI";
    src: url("../../font/segoe-ui-font/SegoeUI-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

/* Segoe UI 700 */
@font-face {
    font-family: "Segoe UI";
    src: url("../../font/segoe-ui-font/SegoeUI-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}