/* ===================================================================================== */
/* ===                           DATABASE NOTIFICATION STYLE                         === */
/* ===================================================================================== */

/* ==================================== GLOBAL =================================== */
body { 
  font-family: Arial;
  background: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  text-align: center;
}

.error {
  color: red;
}