:root {
  --card-gap-small: 1rem;
  --card-gap-medium: 2rem;
  --card-gap-large: 3rem;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", "Lato", sans-serif;
  background: #f2f2f2;
  margin: 0;            /* hilangkan margin body default */
}

h1, h2, h3, h4, h5 {
  font-family: "Lato", sans-serif;
  margin-top: 10px;
  margin-bottom: 0.5em;
  text-align: center;
  font-weight: bold;
}

button, input:focus {
  box-shadow: none !important;
}

hr {
  border: none;
  height: 1.5px;
  background-color: #e1e1e1;
  width: 100%;
  margin: 0px 0 15px 0;
  display: block;
}

p, ol {
    font-family: sans-serif;
    font-size: 1.02em;
    line-height: 1.5em;
    color: #515151;
}

#content {
    width: calc(100% - 300px);
    padding: 0;
    margin: 0;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
    box-shadow: inset 2px 4px 10px #c7c7c7;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#content.active {
    width: 100%;
}

main {
    flex: 1;
    padding: 50px;
}

.select-none {
  -webkit-user-select: none !important; /* Safari */
  -moz-user-select: none !important;    /* Firefox */
  -ms-user-select: none !important;     /* IE10+ */
  user-select: none !important;         /* Standard */
  -webkit-user-drag: none !important;
  user-drag: none !important;
  pointer-events: auto;
}

.select-none::placeholder {
  user-select: none !important;
  -webkit-user-select: none !important;
}

.custom-header i {
    padding-right: 14px;
    color: #598e19;
}

.article-text p,
.general-unit-text p,
.dental-unit-text p,
.clinic-lab-text p,
.information-text p,
.referral-text p,
.charts-text p,
.gallery-foto-text p,
.gallery-video-text p,
.queue-registration-text p,
.queue-list-text p,
.dashboard-text p,
.patient-management-text p,
.queue-management-text p,
.user-management-text p {
    font-family: "Roboto", sans-serif;
    text-align: center; /* Teks rata tengah */
    margin-bottom: 17px; /* Jarak antar Teks */
    font-weight: 500;
}

.information-section .container .card-wrapper {
    border-radius: 16px; /* Tambahkan sudut melengkung */
    overflow: hidden;    
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Opsional: efek bayangan lembut */
    padding: 20px;
    outline: 2px #e1e1e1 solid;
}

@media (max-width: 768px) {
    .article-section .carousel-wrapper {
        min-height: 1100px;
    }

    .article-section .carousel-wrapper .carousel-content {
        min-height: 950px;
    }
}