.navbar a.nav-link,
.navbar a.dropdown-item {
    text-decoration: none;
    transition: all 0.3s;
}

.navbar a.nav-link {
    color: #fff;
    font-weight: 700;
}

.navbar a.dropdown-item {
    color: #505050;
    font-weight: 500;
}

.navbar a.nav-link:hover {
    color: #fff;
}

.navbar a.nav-link:hover,
.navbar a.dropdown-item:hover {
    transition: all 0.3s;
    cursor: pointer;
}

.navbar {
    background: rgb(99 156 31);
    border: none;
    border-radius: 0;
    box-shadow: 0 0 10px 5px rgb(16 19 21 / 10%);
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.custom-btn-color {
    background: #447b17;
    color: white;
}