/* ===================================================================================== */
/* ===                                HIGHCHARTS STYLE                               === */
/* ===================================================================================== */

/* ==================================== GLOBAL =================================== */
.highcharts-figure, .highcharts-data-table table {
  min-width: 310px; 
  max-width: 800px;
  margin: 1em auto;
}

#container {
  height: 400px;
  margin-top: 50px;
}

.title {
  margin: 0 auto;
  text-align: center;
  line-height: 10px;
}

.highcharts-data-table {
  margin-top: 30px;
}

.highcharts-data-table table {
  font-family: Montserrat, Roboto, Lato;
  border-collapse: collapse;
  border: 1px solid #EBEBEB;
  margin: 10px auto;
  text-align: center;
  width: 100%;
  max-width: 500px;
}

.highcharts-data-table caption {
  display: none;
  padding: 1em 0;
  font-size: 1.2em;
  color: #555;
  text-align: center;
  margin: 0 auto;
}

.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
  padding: 0.5em;
  user-select: none;
  -webkit-user-select: none;
}

.highcharts-data-table table,
.highcharts-data-table table tr,
.highcharts-data-table table td,
.highcharts-data-table table th {
  border: none !important;
}

.highcharts-data-table table {
  border-collapse: collapse !important;
  border-spacing: 0 !important;
}

.highcharts-data-table table td,
.highcharts-data-table table th {
  outline: none !important;
}

.highcharts-data-table table th {
  letter-spacing: .1em !important;
  text-transform: uppercase !important;
  background: #639c1f !important;
  color: white !important;
}

.highcharts-data-table table tr {
  background: #639c1f !important;
}

.highcharts-data-table table .highcharts-label,
.highcharts-data-table table .highcharts-number {
  letter-spacing: .1em !important;
  color: black !important;
}

.highcharts-data-table table tr:nth-child(odd) .highcharts-label,
.highcharts-data-table table tr:nth-child(odd) .highcharts-number {
  background: #8ed553 !important;
}

.highcharts-data-table table tr:nth-child(even) .highcharts-label,
.highcharts-data-table table tr:nth-child(even) .highcharts-number {
  background: #7fcf3a !important;
}

.highcharts-data-table table tr:hover .highcharts-label,
.highcharts-data-table table tr:hover .highcharts-number {
  background: #b4f46a !important;
  transition: background .2s ease !important;
}


/* =========================== DESKTOP (1200px – 1368px) ========================= */
@media (min-width: 1200px) and (max-width: 1368px) {
  /* ------------------- Pengaturan Global --------------------- */
  #container {
    height: 420px;
  }

  /* ---------------- Tampilan Sidebar Ditutup ----------------- */
  body.sidebar-collapsed .highcharts-data-table table th {
    font-size: 0.95rem;
    font-weight: 800 !important;
  }

  body.sidebar-collapsed .highcharts-data-table table .highcharts-label {
    font-size: 0.85rem;
    font-weight: 500 !important;
  }

  body.sidebar-collapsed .highcharts-data-table table .highcharts-number {
    font-size: 0.9rem;
    font-weight: 600 !important;
  }

  /* ----------------- Tampilan Sidebar Dibuka ----------------- */
  body.sidebar-expanded .highcharts-data-table table th {
    font-size: 0.9rem;
    font-weight: 800 !important;
  }

  body.sidebar-expanded .highcharts-data-table table .highcharts-label {
    font-size: 0.8rem;
    font-weight: 500 !important;
  }

  body.sidebar-expanded .highcharts-data-table table .highcharts-number {
    font-size: 0.85rem;
    font-weight: 600 !important;
  }
}


/* ======================== SMALL DESKTOP (992px – 1199px) ======================= */
@media (min-width: 992px) and (max-width: 1199px) {
  /* ------------------- Pengaturan Global --------------------- */
  #container {
    height: 400px;
  }

  /* ---------------- Tampilan Sidebar Ditutup ----------------- */
  body.sidebar-collapsed .highcharts-data-table table th {
    font-size: 0.95rem;
    font-weight: 800 !important;
  }

  body.sidebar-collapsed .highcharts-data-table table .highcharts-label {
    font-size: 0.85rem;
    font-weight: 500 !important;
  }

  body.sidebar-collapsed .highcharts-data-table table .highcharts-number {
    font-size: 0.9rem;
    font-weight: 600 !important;
  }

  /* ----------------- Tampilan Sidebar Dibuka ----------------- */
  body.sidebar-expanded .highcharts-data-table table th {
    font-size: 0.9rem;
    font-weight: 800 !important;
  }

  body.sidebar-expanded .highcharts-data-table table .highcharts-label {
    font-size: 0.8rem;
    font-weight: 500 !important;
  }

  body.sidebar-expanded .highcharts-data-table table .highcharts-number {
    font-size: 0.85rem;
    font-weight: 600 !important;
  }
}


/* ===================== TABLET LANDSCAPE-1 (912px – 991px) ====================== */
@media (min-width: 912px) and (max-width: 991px) {
  /* ------------------- Pengaturan Global --------------------- */
  #container {
    height: 380px;
  }

  /* ---------------- Tampilan Sidebar Ditutup ----------------- */
  body.sidebar-collapsed .highcharts-data-table table th {
    font-size: 0.95rem;
    font-weight: 800 !important;
  }

  body.sidebar-collapsed .highcharts-data-table table .highcharts-label {
    font-size: 0.85rem;
    font-weight: 500 !important;
  }

  body.sidebar-collapsed .highcharts-data-table table .highcharts-number {
    font-size: 0.9rem;
    font-weight: 600 !important;
  }

  /* ----------------- Tampilan Sidebar Dibuka ----------------- */
  body.sidebar-expanded .highcharts-data-table table th {
    font-size: 0.9rem;
    font-weight: 800 !important;
  }

  body.sidebar-expanded .highcharts-data-table table .highcharts-label {
    font-size: 0.8rem;
    font-weight: 500 !important;
  }

  body.sidebar-expanded .highcharts-data-table table .highcharts-number {
    font-size: 0.85rem;
    font-weight: 600 !important;
  }
}


/* ========================= HP LANDSCAPE (896px – 911px) ======================== */
@media (min-width: 896px) and (max-width: 911px) {
  /* ------------------- Pengaturan Global --------------------- */
  #container {
    height: 360px;
  }

  /* ---------------- Tampilan Sidebar Ditutup ----------------- */
  body.sidebar-collapsed .highcharts-data-table table th {
    font-size: 0.95rem;
    font-weight: 800 !important;
  }

  body.sidebar-collapsed .highcharts-data-table table .highcharts-label {
    font-size: 0.85rem;
    font-weight: 500 !important;
  }

  body.sidebar-collapsed .highcharts-data-table table .highcharts-number {
    font-size: 0.9rem;
    font-weight: 600 !important;
  }

  /* ----------------- Tampilan Sidebar Dibuka ----------------- */
  body.sidebar-expanded .highcharts-data-table table th {
    font-size: 0.9rem;
    font-weight: 800 !important;
  }

  body.sidebar-expanded .highcharts-data-table table .highcharts-label {
    font-size: 0.8rem;
    font-weight: 500 !important;
  }

  body.sidebar-expanded .highcharts-data-table table .highcharts-number {
    font-size: 0.85rem;
    font-weight: 600 !important;
  }
}


/* ===================== TABLET LANDSCAPE-2 (853px – 895px) ====================== */
@media (min-width: 853px) and (max-width: 895px) {
  /* ------------------- Pengaturan Global --------------------- */
  #container {
    height: 340px;
  }

  /* ---------------- Tampilan Sidebar Ditutup ----------------- */
  body.sidebar-collapsed .highcharts-data-table table th {
    font-size: 0.95rem;
    font-weight: 800 !important;
  }

  body.sidebar-collapsed .highcharts-data-table table .highcharts-label {
    font-size: 0.85rem;
    font-weight: 500 !important;
  }

  body.sidebar-collapsed .highcharts-data-table table .highcharts-number {
    font-size: 0.9rem;
    font-weight: 600 !important;
  }

  /* ----------------- Tampilan Sidebar Dibuka ----------------- */
  body.sidebar-expanded .highcharts-data-table table th {
    font-size: 0.9rem;
    font-weight: 800 !important;
  }

  body.sidebar-expanded .highcharts-data-table table .highcharts-label {
    font-size: 0.8rem;
    font-weight: 500 !important;
  }

  body.sidebar-expanded .highcharts-data-table table .highcharts-number {
    font-size: 0.85rem;
    font-weight: 600 !important;
  }
}


/* ====================== TABLET POTRAIT-1 (820px – 852px) ======================= */
@media (min-width: 820px) and (max-width: 852px) {
  /* ------------------- Pengaturan Global --------------------- */
  #container {
    height: 320px;
  }

  /* ---------------- Tampilan Sidebar Ditutup ----------------- */
  body.sidebar-collapsed .highcharts-data-table table th {
    font-size: 0.9rem;
    font-weight: 800 !important;
  }

  body.sidebar-collapsed .highcharts-data-table table .highcharts-label {
    font-size: 0.8rem;
    font-weight: 500 !important;
  }

  body.sidebar-collapsed .highcharts-data-table table .highcharts-number {
    font-size: 0.85rem;
    font-weight: 600 !important;
  }

  /* ----------------- Tampilan Sidebar Dibuka ----------------- */
  body.sidebar-expanded .highcharts-data-table table th {
    font-size: 0.85rem;
    font-weight: 800 !important;
  }

  body.sidebar-expanded .highcharts-data-table table .highcharts-label {
    font-size: 0.75rem;
    font-weight: 500 !important;
  }

  body.sidebar-expanded .highcharts-data-table table .highcharts-number {
    font-size: 0.8rem;
    font-weight: 600 !important;
  }
}


/* ====================== TABLET POTRAIT-2 (768px – 819px) ======================= */
@media (min-width: 768px) and (max-width: 819px) {
  /* ------------------- Pengaturan Global --------------------- */
  #container {
    height: 300px;
  }

  .highcharts-data-table table th {
    font-size: 0.9rem;
    font-weight: 800 !important;
  }

  .highcharts-data-table table .highcharts-label {
    font-size: 0.8rem;
    font-weight: 500 !important;
  }

  .highcharts-data-table table .highcharts-number {
    font-size: 0.85rem;
    font-weight: 600 !important;
  }
}


/* ========================= HP BESAR (521px – 767px) ============================ */
@media (min-width: 521px) and (max-width: 767px) {
  /* ------------------- Pengaturan Global --------------------- */
  #container {
    height: 260px;
  }

  .highcharts-data-table table th {
    font-size: 0.9rem;
    font-weight: 800 !important;
  }

  .highcharts-data-table table .highcharts-label {
    font-size: 0.8rem;
    font-weight: 500 !important;
  }

  .highcharts-data-table table .highcharts-number {
    font-size: 0.85rem;
    font-weight: 600 !important;
  }
}


/* ============================= HP KECIL (≤ 520px) ============================== */
@media (max-width: 520px) {
  /* ------------------- Pengaturan Global --------------------- */
  #container {
    height: 230px;
    margin-top: 20px;
  }

  .highcharts-data-table table th {
    font-size: 0.75rem;
    font-weight: 800 !important;
    max-width: 100%;
  }

  .highcharts-data-table table .highcharts-number {
    font-size: 0.9rem;
    font-weight: 600 !important;
    color: white !important;
  }

  .highcharts-data-table table tr:nth-child(odd) .highcharts-number,
  .highcharts-data-table table tr:nth-child(even) .highcharts-number {
    background: none !important;
  }
}