/* ===================================================================================== */
/* ===                                  TABLE STYLE                                  === */
/* ===================================================================================== */

/* ==================================== GLOBAL =================================== */
table {
  border: 1px solid green;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
}

table th {
  font-size: 0.9rem;
  letter-spacing: .1em;
  text-transform: uppercase;
  background: #639c1f;
  color: white;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table tr {
  background: #8cc3ff;
  border: 1px solid green;
  padding: .35em;
}

table td img {
  text-align: center;
}

table td .td-value {
  font-size: 0.95rem;
}

.table-responsive {
  overflow-x: auto;
  scrollbar-width: none;
}

.table-responsive::-webkit-scrollbar {
  display: none;
}

.btn-group-queue form {
  margin: 0;
  padding: 0;
}

.btn-group-queue .btn {
  border-radius: 0;
  margin: 0;
}

.btn-group-queue form:first-child .btn {
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
}

.btn-group-queue form:last-child .btn {
  border-top-right-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
}


/* =========================== DESKTOP (1200px – 1368px) ========================= */
@media (min-width: 1200px) and (max-width: 1368px) {
  /* ------------------- Pengaturan Global --------------------- */
  table th {
    font-size: 0.9rem;
  }

  table td .td-value {
    font-size: 0.95rem;
  }
}


/* ======================= SMALL DESKTOP (992px – 1179px) ======================== */
@media (min-width: 992px) and (max-width: 1179px) {
  /* ------------------- Pengaturan Global --------------------- */
  table th {
    font-size: 0.85rem;
  }

  table td .td-value {
    font-size: 0.9rem;
  }
}


/* ==================== TABLET LANDSCAPE-1 (1180px – 1199px) ===================== */
@media (min-width: 1180px) and (max-width: 1199px) {
  /* ------------------- Pengaturan Global --------------------- */
  table th {
    font-size: 0.85rem;
  }

  table td .td-value {
    font-size: 0.9rem;
  }
}


/* ===================== TABLET LANDSCAPE-2 (933px – 991px) ====================== */
@media (min-width: 933px) and (max-width: 991px) {
  /* ------------------- Pengaturan Global --------------------- */
  table th {
    font-size: 0.85rem;
  }

  table td .td-value {
    font-size: 0.9rem;
  }
}


/* ===================== TABLET LANDSCAPE-3 (853px – 881px) ====================== */
@media (min-width: 853px) and (max-width: 881px) {
  /* ------------------- Pengaturan Global --------------------- */
  table th,
  table td .td-value {
    font-size: 0.85rem;
  }
}


/* ====================== TABLET POTRAIT-1 (820px – 839px) ======================= */
@media (min-width: 820px) and (max-width: 839px) {
  /* ------------------- Pengaturan Global --------------------- */
  table th,
  table td .td-value {
    font-size: 0.85rem;
  }
}


/* ====================== TABLET POTRAIT-2 (768px – 819px) ======================= */
@media (min-width: 768px) and (max-width: 819px) {
  /* ------------------- Pengaturan Global --------------------- */
  table th,
  table td .td-value {
    font-size: 0.85rem;
  }
}


/* ===================== HP BESAR LANDSCAPE (720px – 739px) ====================== */
@media (min-width: 720px) and (max-width: 739px) {
  /* ------------------- Pengaturan Global --------------------- */
  table th {
    font-size: 0.75rem;
  }

  table td .td-value {
    font-size: 0.8rem;
  }
}


/* ===================== HP BESAR POTRAIT (521px – 666px) ======================== */
@media (min-width: 521px) and (max-width: 666px) {
  /* ------------------- Pengaturan Global --------------------- */
  table th {
    font-size: 0.75rem;
  }

  table td .td-value {
    font-size: 0.8rem;
  }
}


/* ==================== HP KECIL LANDSCAPE 1 (912px – 932px) ===================== */
@media (min-width: 912px) and (max-width: 932px) {
  /* ------------------- Pengaturan Global --------------------- */
  table th,
  table td .td-value {
    font-size: 0.85rem;
  }
}


/* ==================== HP KECIL LANDSCAPE 2 (882px – 911px) ===================== */
@media (min-width: 882px) and (max-width: 911px) {
  /* ------------------- Pengaturan Global --------------------- */
  table th {
    font-size: 0.85rem;
  }

  table td .td-value {
    font-size: 0.9rem;
  }
}


/* ==================== HP KECIL LANDSCAPE 3 (840px – 852px) ===================== */
@media (min-width: 840px) and (max-width: 852px) {
  /* ------------------- Pengaturan Global --------------------- */
  table th {
    font-size: 0.85rem;
  }

  table td .td-value {
    font-size: 0.9rem;
  }
}


/* ==================== HP KECIL LANDSCAPE 4 (740px – 767px) ===================== */
@media (min-width: 740px) and (max-width: 767px) {
  /* ------------------- Pengaturan Global --------------------- */
  table th {
    font-size: 0.75rem;
  }

  table td .td-value {
    font-size: 0.85rem;
  }
}


/* ==================== HP KECIL LANDSCAPE 5 (667px – 719px) ===================== */
@media (min-width: 667px) and (max-width: 719px) {
  /* ------------------- Pengaturan Global --------------------- */
  table th {
    font-size: 0.75rem;
  }

  table td .td-value {
    font-size: 0.8rem;
  }
}


/* ============================= HP KECIL (≤ 520px) ============================== */
@media screen and (max-width: 520px) {
  table, tbody, tr {
    display: block;
    width: 100%;
  }

  tr {
    margin-bottom: 2rem;
    padding: 0 !important;
  }

  thead {
    display: none !important;
  }

  table th {
    font-size: 0.4rem !important;
  }

  table td {
    display: block;
    width: 100%;
    padding: 0 !important;
    border: 0 !important;
  }

  table td::before {
    content: attr(data-header);
    display: block;
    background: #639c1f;
    color: #fff;
    text-align: center;
    font-weight: 700;
    padding: .4em 0;
    border-bottom: 0;
    text-transform: uppercase;
  }

  table td .td-value {
    font-size: 0.85rem;
    padding: .7em 0;
    background: #8cc3ff;
    text-align: center;
    line-height: 1.5;
  }
}