.btn-group-queue form {
  margin: 0;
  padding: 0;
}

.btn-group-queue .btn {
  border-radius: 0;
  margin: 0;
}

.btn-group-queue form:first-child .btn {
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
}

.btn-group-queue form:last-child .btn {
  border-top-right-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
}

table {
  border: 1px solid green;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
}

table tr {
  background: #8cc3ff;
  border: 1px solid green;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
  background: #639c1f;
  color: white;
}

table td img {
  text-align: center;
}

@media screen and (max-width: 520px) {
  table, tbody, tr {
    display: block;
    width: 100%;
  }

  tr {
    margin-bottom: 2rem;
    padding: 0 !important;
  }

  thead {
    display: none !important;
  }

  table td {
    display: block;
    width: 100%;
    padding: 0 !important;
    border: 0 !important;
  }

  table td::before {
    content: attr(data-header);
    display: block;
    background: #639c1f;
    color: #fff;
    text-align: center;
    font-weight: 700;
    padding: .4em 0;
    border-bottom: 0;
    text-transform: uppercase;
  }

  table td .td-value {
    padding: .7em 0;
    background: #8cc3ff;
    text-align: center;
    line-height: 1.5;
  }
}